<%= form_error_messages(@request) %>
<div style="position: relative;">
<div class="logincontainer" style="position: relative;">
	<div class="sectionHeader" style="margin-bottom: 20px;">Edit Request</div>

<%= form_tag(url_for(@request), method: "PUT", class: 'loginfield') do %>	
	<%= label_tag("Device") %>
	<div class="loginfield" style="margin-left: 15px;"><%= collection_select(:device, :id, Device.all, :id, :title, selected: @request.device_id) %></div>
	
	<%= label_tag("Side") %>
	<div id="side" style="margin-left:15px; margin-bottom: 10px; margin-top: 5px; display: flex;">
		<div class="loginfield">
			<%= label_tag(:side, "Left") %>
			<%= radio_button_tag(:side, "Left", (@request.side == "Left")) %>
		</div>
		<div class="loginfield">
			<%= label_tag(:side, "Right") %>
			<%= radio_button_tag(:side, "Right", (@request.side == "Right")) %>
		</div>
	</div>
	
	<%= label_tag(:shipping_address) %>
	<div class="loginfield"><%= text_area_tag(:shipping_address, @request.shipping_address, class: 'shippingAdd')%></div>
	<%= label_tag(:colors) %>
	<div class="loginfield"><%= text_area_tag(:colors, @request.colors) %></div>
	<%= label_tag(:measurements) %>
	<div class="loginfield"><%= text_area_tag(:measurements, @request.measurements) %></div>
			<div class="cardData" style="position: relative; left: 100px; top: -120px;">
					<a href="" id="big" target="_new"><img src="" id="meas" style="width: 400px; position: absolute;"/></a>
			</div>			
	<%= label_tag('Photos/Video') %>
	<div class="loginfield"><%= text_area_tag(:photos, @request.photos) %></div>
	<%= label_tag('Evidence of Completion') %>
	<div class="loginfield"><div class="tooltip"><span class="tooltiptext">Once the device has been successfuly delivered to the recipient, please provide links to photos or other evidence of completion.</span><%= text_area_tag(:evidence, @request.evidence) %></div></div>
	</div>	
	
	<div class="loginfield">
		<%= submit_tag "UPDATE REQUEST", class: 'loginaction' %>
	</div>
<% end %>

</div>
</div>
