<div id="map" style='height: 400px; margin-bottom: 10px;'></div>

<% if current_member.admin? %>
	<div class="sectionHeader" style="margin-bottom: 0;">All Requests (because you're an admin)</div>
	<%= render "layouts/requests"%>
<% else %>
	<div class="sectionHeader" style="margin-bottom: 0;">Open Requests</div>
	<% @requests = @requests.where(stage: "Open") %>
	<%= render "layouts/requests" %>
<% end %>


<script>
  $(function(handler) {
var LatLngList = [],
    latlngbounds = new google.maps.LatLngBounds();

LatLngList.forEach(function(latLng){
   latlngbounds.extend(latLng);
});
	
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: {
	    	maxZoom: 10, 
	    	mapTypeControl: false,
	    	streetViewControl: false},
    	internal: {id: 'map' }}, 
    	function(){
	    markers = handler.addMarkers([
	    <% @requests.each do |req| %>
	    {
	    	lat: <%= req.latitude%>, 
	    	lng: <%= req.longitude%>,
	    	infowindow: '<div class="infowin"> \
		    			<b>Submitted Date:</b> <%= @request.created_at %> <br> \
		    			<b>By: </b> <%= Member.find(@request.member_id).first_name << " " << Member.find(@request.member_id).last_name %> <br> \
		    			<b>Device:</b> <%= Device.find(@request.device_id).title %> <br> \
		    			<b>Side:</b> <%= @request.side %> <br>'
	    },
	    <% end %>
	  ]);
	  handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
	  

	});	
  });
</script>