<div id="map" class="mapdiv"></div>

<div class="submitButton" style="margin-bottom: 50px; margin-top: 25px;">
	<div style="margin: auto;"><%= link_to "SUBMIT NEW REQUEST", new_request_path %></div>
</div>

<% if current_member.admin? %>
	<div class="sectionHeader" style="margin-bottom: 0;">All Requests (because you're an admin)</div>
	<%= render "layouts/requests"%>
<% else %>
	<div class="sectionHeader" style="margin-bottom: 0;">Open Requests</div>
	<% @requests = @requests.where(stage: "Open") %>
	<%= render "layouts/requests" %>
<% end %>


<script>
  $(function(handler) {
var LatLngList = [],
    latlngbounds = new google.maps.LatLngBounds();

LatLngList.forEach(function(latLng){
   latlngbounds.extend(latLng);
});
	
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: {
	    	maxZoom: 10, 
	    	mapTypeControl: false,
	    	streetViewControl: false},
    	internal: {id: 'map' }}, 
    	function(){
	    markers = handler.addMarkers([
	    <% @requests.each do |req| %>
	    {
	    	lat: <%= req.latitude%>, 
	    	lng: <%= req.longitude%>,
	    	infowindow: '<div class="infowin"> \
		    			<b>Submitted Date:</b> <%= req.created_at %> <br> \
		    			<b>By: </b> <%= Member.find(req.member_id).full_name %> <br> \
		    			<b>Device:</b> <%= Device.find(req.device_id).title %> <br> \
		    			<b>Side:</b> <%= req.side %> <br> \
		    			<%= link_to("View Request", url_for(req), class: "clicky") %></div>'
	    },
	    <% end %>
	  ]);
	  handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
	  

	});	
  });
</script>