<div>
	<%= form_tag("/requests", method: "POST") do %>	
	
	<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
		<div class="cardLine"><div class="cardHead">Name</div><div class="cardData"><%= text_field_tag(:title, '', class: 'messageBox', style: 'height: 1em;') %></div></div>
		<div class="cardLine"><div class="cardHead">Device</div><div class="cardData"><%= collection_select(:device, :id, Device.all, :id, :title) %></div></div>
		<div class="cardLine"><div class="cardHead">Side</div>
			<div class="cardData">
				<%= label_tag(:side, "Left") %>
				<%= radio_button_tag(:side, "Left")%>
				<%= label_tag(:side, "Right") %>
				<%= radio_button_tag(:side, "Right", checked=true)%>
			</div>
		</div>
		<div class="cardLine" style="font-style: italic; display: block;"> Use <a href="https://docs.google.com/document/d/1vWDoGMzwca5G__8-2kdTte2w3qs8-h_Nv7PmFLszn4w" target="_new" style="display: inline;">this Guide</a> to learn about taking measurements and photos</div>
		<div class="cardLine"><div class="cardHead">Measurements</div><div class="cardData"><%= text_area_tag(:measurements, 'A= B= C= or provide a link to a photo or document with the measurements', class: 'messageBox', style: 'height: 2em;') %></div></div>
		<div class="cardLine"><div class="cardHead">Photos/Video</div><div class="cardData"><%= text_area_tag(:photos, 'Provide a link to a page, forum post or online file with photos', class: 'messageBox', style: 'height: 2em;') %></div></div>
		<div class="cardLine"><div class="cardHead">Colors</div><div class="cardData"><%= text_area_tag(:colors, 'Describe what style and colors you would like.  Do you want any special designs, team logos or themese?', class: 'messageBox', style: 'height: 2em;') %></div></div>
		<div class="cardLine"><div class="cardHead">Shipping Address</div><div class="cardData"> <%= text_area_tag(:shipping_address, current_member.city+", "+current_member.country, class: 'messageBox')%></div></div>
		<div class="actions"><%= submit_tag "Submit Request", class: 'clicky' %></div>
	</div>
	
	<% end %>
</div>


