<div class="sectionHeader" style="margin-bottom: 0px;">Request</div>
	<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
		<div class="cardLine"><div class="cardHead">Request ID #</div><div class="cardData"><%= @request.id %></div></div>
		<div class="cardLine"><div class="cardHead">Request Date</div><div class="cardData"> <%= @request.created_at.strftime('%x') %></div></div>
		<div class="cardLine"><div class="cardHead">Requested By</div><div class="cardData"> <%= link_to(Member.find(@request.member_id).first_name << " " << Member.find(@request.member_id).last_name, url_for(Member.find(@request.member_id))) %></div></div>
		<div class="cardLine"><div class="cardHead">Device</div><div class="cardData"> <%= link_to(Device.find(@request.device_id).title, url_for(Device.find(@request.device_id))) %></div></div>
		<div class="cardLine"><div class="cardHead">Side</div><div class="cardData"> <%= @request.side %></div></div>
		<div class="cardLine"><div class="cardHead">Stage</div><div class="cardData"> <%= @request.stage %></div></div>
		<div class="cardLine"><div class="cardHead">Measurements</div><div class="cardData"> <%= @request.measurements %></div></div>
		<div class="cardLine"><div class="cardHead">Photos</div><div class="cardData"> <%= @request.photos %></div></div>
		<div class="cardLine"><div class="cardHead">Colors</div><div class="cardData"> <%= @request.colors %></div></div>
		<% if (current_member.id == @request.member_id) || @request.accepted_offer(current_member) %>
			<div class="cardLine"><div class="cardHead">Shipping Address</div><div class="cardData"> <%= @request.shipping_address %></div></div>
		<% end %>
	</div>

	<div style="margin-top: 10px; margin-bottom: 35px;">
		<% if (@request.member_id == current_member.id || current_member.admin?) && @request.stage != "Completed" %>
			<%= link_to("Edit Request", edit_request_path(@request), method: "GET", class: "clicky") %>
			<%= link_to("Complete Request", url_for(controller: 'requests', action: "complete", id: @request.id), class: "clicky") %>
		<% end %>
		<% if @match && @request.member_id != current_member.id && !@request.open_offer(current_member) && @request.stage == "Open" %>
			<%= link_to("Offer to Help", offers_path<<"?request_id="<<@request.id.to_s, method: "POST", class: "clicky") %>
		<% end %>
	</div>
</div>

<% if !@requests.nil? %> 
	<div class="sectionHeader" style="margin-bottom: 0;">Offers on this request</div>
	<% @offers = Offer.where(request_id: @request.id) %>
	<% if !@offers.empty? %>
		<%= render "layouts/offers" %>
	<% else %>
		<div class="zero"> None </div>
	<% end %>
<% end %>