<script> sweetAlert({title: "Please Confirm!", text: "It is important that you complete a test hand and receive credit before offering to help a recipient.  Visit <a href='http://enablingthefuture.org/upper-limb-prosthetics/' target='_new'> this page </a> to learn more.", type: 'warning', html: true, confirmButtonColor: '#59d2ff'}); </script>


<div class="sectionHeader" style="margin-bottom: 0px;">Request</div>
	<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
		<div class="cardLine"><div class="cardHead">Request ID #</div><div class="cardData"><%= @request.id %></div></div>
		<div class="cardLine"><div class="cardHead">Request Date</div><div class="cardData"> <%= @request.created_at.strftime('%x') %></div></div>
		<div class="cardLine"><div class="cardHead">Requested By</div><div class="cardData"> <%= link_to(Member.find(@request.member_id).first_name << " " << Member.find(@request.member_id).last_name, url_for(Member.find(@request.member_id))) %></div></div>
		<div class="cardLine"><div class="cardHead">Device</div><div class="cardData"> <%= link_to(Device.find(@request.device_id).title, url_for(Device.find(@request.device_id))) %></div></div>
		<div class="cardLine"><div class="cardHead">Side</div><div class="cardData"> <%= @request.side %></div></div>
		<div class="cardLine"><div class="cardHead">Stage</div><div class="cardData"> <%= @request.stage %></div></div>
		<div class="cardLine"><div class="cardHead">Measurements</div><div class="cardData"> <%= @request.measurements %></div></div>
		<div class="cardLine"><div class="cardHead">Photos</div><div class="cardData"> <%= @request.photos %></div></div>
		<div class="cardLine"><div class="cardHead">Colors</div><div class="cardData"> <%= @request.colors %></div></div>
		<% if (current_member.id == @request.member_id) || @request.accepted_offer(current_member) || current_member.admin? %>
			<div class="cardLine"><div class="cardHead">Shipping Address</div><div class="cardData"> <%= @request.shipping_address %></div>
			<div id="map" style='min-width: 100px; min-height: 100px; margin-bottom: 10px; margin-right: 20px;'></div></div>
			<div class="cardLine"><div class="cardHead">Evidence of Completion</div><div class="cardData"> <%= @request.evidence %></div></div>
		<% end %>
	</div>

	<div>
	<%= form_tag(controller: :offers, action: :create) do %>
		<%= hidden_field_tag "message[to]", @request.member_id %>
		<%= hidden_field_tag "message[from]", current_member.id %>
		<%= hidden_field_tag "request_id", @request.id %>
		
		<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
			<div class="cardHead">Please Leave a Message To the Recipient</div><br />
			<div class="cardData"> <%= text_area_tag("message[content]", "", class: "messageBox") %></div>
		</div>
		<div class="actions"><%= submit_tag("Offer to Help", class: "clicky") %></div>
	<% end %>
	</div>

 
	<div class="sectionHeader" style="margin-bottom: 0;">Other Offers on this Request</div>
	<% @offers = Offer.where(request_id: @request.id) %>
	<% if !@offers.empty? %>
		<%= render "layouts/offers" %>
	<% else %>
		<div class="zero"> None </div>
	<% end %>

<script>
  $(function(handler) {
    handler = Gmaps.build('Google');
    handler.buildMap({ 
    	provider: {
	    	maxZoom: 10, 
	    	mapTypeControl: false,
	    	streetViewControl: false,
	    	zoomControl: false},
	    internal: { id: 'map' } },
	  function(){
      markers = handler.addMarkers([
        {lat: <%= @request.latitude %>,
         lng: <%= @request.longitude %>}
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.getMap().setZoom(3);
    });
  });
</script>