<div>
	<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
		<div class="cardLine"><div class="cardHead">Offer ID #</div><div class="cardData"><%= @offer.id %></div></div>
		<div class="cardLine"><div class="cardHead">Offer Date</div> <div class="cardData"><%= @offer.created_at.strftime('%x') %></div></div>
		<div class="cardLine"><div class="cardHead">Stage</div> <div class="cardData"><%= @offer.stage %></div></div>
		<div class="cardLine"><div class="cardHead">Offered By</div><div class="cardData"> <%= link_to(Member.find(@offer.member_id).first_name << " " << Member.find(@offer.member_id).last_name, url_for(Member.find(@offer.member_id))) %></div></div>
		<div class="cardLine">
			<% @member=Member.find(@offer.member_id) %>
			<%= render "layouts/profile"%>
		</div>
	</div>

	<div style="margin-top: 10px;  margin-bottom: 35px;">
		<% if @offer.member_id == current_member.id || current_member.admin? %>
			<%= link_to("Revoke Offer", @offer, method: "DELETE", class: "clicky") %>
		<% end %>
		<% if @offer.stage == "Offered" && (Request.find(@offer.request_id).member_id == current_member.id || current_member.admin?) %>
			<%= link_to("Accept Offer", url_for(controller: 'offers', action: 'accept', id: @offer.id), method: "POST", class: "clicky") %>
			<%= link_to("Decline Offer", url_for(controller: 'offers', action: 'decline', id: @offer.id), method: "POST", class: "clicky") %><br />
		<% end %>
	</div>
</div>

<% if @requests.nil? %><div class="sectionHeader" style="margin-bottom: 0;">Associated request</div> 
	<div class="cardContainer">
		<% @request = Request.find(@offer.request_id) %>
		<%= render "layouts/request" %>
	</div>
<% end %>