<%= form_error_messages(@chapter) %>

<div style="position: relative;">
<div class="logincontainer" style="position: relative;">
	<div class="sectionHeader" style="margin-bottom: 20px;">Edit Chapter</div>
	
<%= form_tag(url_for(@chapter), method: "PUT", class: 'loginfield') do %>	
	<%= label_tag(:name) %>
	<div class="loginfield"><%= text_area_tag(:name, @chapter.name, size: "50x1")%></div>
	<%= label_tag(:lead) %>
	<div class="loginfield" style="font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; color: black; font-size: 13px;"><%= if @chapter.lead; Member.find(@chapter.lead).full_name; else; 'No Leader'; end; %></div>
	
	<%= label_tag(:email) %>
	<div class="loginfield"><%= text_field_tag(:email, @chapter.email)%></div>
	<%= label_tag(:location) %>
	<div class="loginfield"><%= text_area_tag(:location, @chapter.location)%></div>
	<%= label_tag(:home) %>
	<div class="loginfield"><%= text_field_tag(:home, @chapter.home)%></div>
	<%= label_tag(:intake) %>
	<div class="loginfield"><%= text_field_tag(:intake, @chapter.intake)%></div>
	<%= label_tag(:donation) %>
	<div class="loginfield"><%= text_field_tag(:donation, @chapter.donation)%></div>
	<%= label_tag('Please provide links to photos and video of your test hand') %>
	<div class="loginfield"><%= text_area_tag(:evidence, @chapter.evidence)%></div>
	
	<%= label_tag("Status") %>
	<% if current_member.admin? then %>
		<div id="stat" style="margin-left:15px; margin-bottom: 10px; margin-top: 5px; display: flex;">
		<style>
			#stat label {color: #373d3f;}
		</style>
			<%= label_tag(:active, "Active") %>
			<%= radio_button_tag(:active, true, @chapter.active) %>
			<%= label_tag(:active, "Inactive") %>
			<%= radio_button_tag(:active, false, !@chapter.active) %>
		</div>
	<% else %>
		<%= if @chapter.active; "Active"; else; "Inactive"; end %>
	<% end %>
	
	<div class="loginfield">
		<%= submit_tag "UPDATE CHAPTER", class: 'loginaction'%>
	</div>
<% end %>
</div>
</div>
