<div style="display: flex;">
	<div id="map" class="mapdiv"></div>
	<div style="margin: 0 30px 0 30px;" class="noteblock">
		<div class="sectionHeader" style="margin-bottom: 0;">Tips</div>
		<ul> 
			<li> Click the New Chapter button below to register your chapter.</li>
			<li> To join an existing chapter, simply select it on the map or in the list and email them at the address shown.</li>
		</ul>
	</div>	
</div>
<br>		

<div class="submitButton" style="margin-bottom: 50px; margin-top: 25px;">
	<div style="margin: auto;"><%= link_to "NEW CHAPTER", new_chapter_path %></div>
</div>
<br>

<div class="sectionHeader" style="margin-bottom: 0;">Chapters</div>

<%= render "layouts/chapters"%>





<script>
  $(function(handler) {
var LatLngList = [],
    latlngbounds = new google.maps.LatLngBounds();

LatLngList.forEach(function(latLng){
   latlngbounds.extend(latLng);
});
	
	handler = Gmaps.build('Google');
	handler.buildMap({ 
		provider: {
	    	maxZoom: 10, 
	    	mapTypeControl: false,
	    	streetViewControl: false},
    	internal: {id: 'map' }}, 
    	function(){
	    markers = handler.addMarkers([
	    <% @chapters.each do |chapter| %> 
	    	<% if chapter.active %>
			    {
			    	lat: <%= chapter.latitude%>, 
			    	lng: <%= chapter.longitude%>,
		    		infowindow: '<div class="infowin"> \
		    			<b>Name:</b> <%= chapter.name %> <br> \
		    			<b>Lead:</b> <%= if chapter.lead; Member.find(chapter.lead).first_name << " " << Member.find(chapter.lead).last_name; "None"; end; %> <br> \
		    			<b>Location:</b> <%= chapter.location %> <br> \
		    			<b>Email:</b> <%= chapter.email %> <br> \
		    			<b>Homepage:</b> <%= if chapter.home; link_to(chapter.home, chapter.home, target: "_new"); end; %> <br> \
		    			<b>Donate:</b> <%= if chapter.donation; link_to(chapter.donation, chapter.donation, target: "_new"); end; %> <br> \
		    			<b>Intake:</b> <%= if chapter.intake; link_to(chapter.intake, chapter.intake, target: "_new"); end; %> <br></div> \
		    			<br> \
		    			<% if chapter.lead == current_member.id || current_member.admin? %> \
							<%= link_to("Edit Chapter", url_for(controller: 'chapters', action: 'edit', id: chapter.id), class: "clicky") %> \
						<% end %> \
						<%= link_to("View Chapter", url_for(chapter), class: "clicky") %>'
		    	},
		    <% end %>
	  <% end %>
	  ]);
	  handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
	});	
  });
</script>