<%= render "layouts/notice" %>

<% if member_signed_in? %>
  	<div class="menu">
		<%= render "layouts/menu" %>  
	</div>
	
  	<div class="topheader">
		<div class="messageNotice">
			<%= link_to Message.all.where(to: current_member.id).length.to_s << " messages", messages_path %>
		</div>
		<div class="submitButton"">
			<%= link_to "Submit New Request", url_for(controller: "/requests", action: "new") %>
		</div>
	</div>
	<hr style="border-color: rgb(89,210,255);">	 
<% else %>
	<% if controller_name != 'sessions' %>
		<%= link_to('Login', new_member_session_path)  %>
	<% end %>  
<% end %>
