<div class="card" style="font-weight: <%= if @request.stage == 'Open'; 'bold'; else; 'normal'; end; %> ">
	<a href="<%= url_for(@request) %>">
		<div class="cardCol"><%= (Time.now.to_i - @request.created_at.to_i) /(60*60*24) %> days old</div>
		<div class="cardCol" style="min-width: 150px; max-width: 150px;"><%= Member.find(@request.member_id).first_name << " " << Member.find(@request.member_id).last_name %></div>
		<div class="cardCol" style="min-width: 150px; max-width: 150px;"><%= Device.find(@request.device_id).title %></div>
		<div class="cardCol"><%= @request.stage %></div>
		<% place=Geocoder.search(@request.latitude.to_s<<","<<@request.longitude.to_s)[0] %>
		<div class="cardCol" style="min-width: 150px; max-width: 100%;"><%= place.city%>, <%= if place.state; place.state; else; place.country; end; %></div>
		<% if @offer = @request.open_offer(current_member) %>
			<div class="cardCol"><%= link_to("Your Offer", Offer.where(member_id: current_member.id, request_id: @request.id)[0]) %></div>
		<% else %>
			<% if @match && @request.member_id != current_member.id && @request.stage == "Open" %>
				<div class="cardCol">
					<%= link_to("Offer to Help", new_offer_path<<"?request_id="<<@request.id.to_s) %>
				</div>
			<% end %>
		<% end %>
	</a>
</div>