<table border=1 width="100%">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Content</th>
    </tr>
  </thead>

  <tbody>
      <tr>
      	<%= form_tag(messages_path) do %>
	      	<td><%= current_member.first_name %></td>
	      	<%= hidden_field_tag "message[to]", @message.from %>
	      	<td><%= Member.find(@message.from).first_name %></td>
	      	<%= hidden_field_tag "message[from]", current_member.id %>
	        <td>
			  <div class="field">
			    <%= text_area_tag("message[content]", "", class: "messageBox") %><br />
			  <div class="actions">
			    <%= submit_tag "Send" %>
			  </div>
		    </td>
		<% end %>
      </tr>
  </tbody>
</table>
