<div>
	<%= form_tag(messages_path) do %>
	<%= hidden_field_tag "message[to]", @message.from %>
	<%= hidden_field_tag "message[from]", current_member.id %>
	
	<div class="card" style="margin-bottom: 10px; cursor: default; display: block;">
		<div class="cardLine"><div class="cardHead">From</div><div class="cardData"><%= current_member.first_name %></div></div>
		<div class="cardLine"><div class="cardHead">To</div><div class="cardData"><%= Member.find(@message.from).first_name %></div></div>
		<div class="cardLine"><div class="cardHead">Message</div><div class="cardData"> <%= text_area_tag("message[content]", "", class: "messageBox") %></div></div>
		<div class="actions"><%= submit_tag "Send", class: 'clicky'%></div>
	</div>
	
	<% end %>
</div>
