<!DOCTYPE html>
<html>
  <head>
    <title>e-NABLE Matching System: Sponsored by Enable Outreach</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?key=AIzaSyAWcA4ZZnLNSBBRgOJPZDIT--EXfvkCyQc' %>
	<%= javascript_include_tag '//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js' %>
	<%= javascript_include_tag '//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' %>
	
	<link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat">

  </head>

  <body>       
  	<%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
