
<div class="pageHeader"> Member Dashboard <br /></div>

<%= render "layouts/profile"%> 		
		 
<% if params[:id] == current_member.id.to_s || current_member.admin? %>		
		<p></p>
		<div class="profileHeader">Requests by <%= @member.first_name %> <br /></div>
			<%= render "layouts/requests"%>
		
		<p></p>
		<div class="profileHeader">Offers  from <%= @member.first_name %> <br /></div>
			<% if !@youroffers.nil? %>
				<% @requests = nil %>
				<% @offers = @youroffers %>
				<%= render "layouts/offers" %>
			<% end %>
		<p></p>		
<% end %>
